<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <h1>Home Page</h1>
    <section id="feed-posts">
        <h4>Posts</h4>
        <%if(locals.user){%>
        <form action="/userPost/create" id="new-post-form" method="post">
            <textarea name="content" placeholder="Enter some feeds..." cols="30" rows="10" required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
        <div id="posts-list-container">
            <ul>
                <%for(i of userPosts){%>
                    <%- include("_postList") -%>
                <%}%>
            </ul>
        </div>
    </section>
    <section id="user-friends">
        <h4>Friends</h4>
        <%for(u of all_users){%>
            <p><a href="/users/profile/<%=u.id%>"><%=u.name%> </a></p>
        <%}%>
    </section>
</div>
<script type="text/javascript" src="/js/home_posts.js"></script>