header{
    background-color: rgb(31, 137, 179);
    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        flex-flow: row-reverse;
        li{
            margin-right: 20px;
            
            color: white;
            font-weight: bold;
            font-size: larger;
            a:visited{
                color: white;
                text-decoration: none;
            }
        }
        div{
            display: flex;
            flex-direction:row;
            justify-content: space-between;
        }
    }
}